*{
    margin: 0;
    padding: 0;
}
.heading{
    background-color: rgb(36, 44, 57);
    color: #fff;
    text-transform: uppercase;
    height: 1rem;
    line-height: 1.6;
    width: 100%;

}
.header-container .menu{
} 

.menu a{
    text-decoration: none;
    color: rgb(36, 44, 57);
    margin: 1rem;
    text-align: center;

}
a{text-decoration: none;}
.container{
    width: 90%;
    display: flex;
    margin:1rem ;
}
.container .portada{
    width: 60%;
}
.container .textoPortada{
    width: 40%;
}
.textoPortada h1{
    font-size: 40px;
    margin-top: 4rem;
}
.textoPortada p, a{
    margin: 1rem 0rem 2rem;
}
.textoPortada article{
    width: max-content;
}

.textoPortada a{
    background-color: #000;
    padding: 1em;
    color: #fff;
    width: fit-content;
    
}