*{
    margin: 0;
    padding: 0;
}
.heading{
    background-color: rgb(36, 44, 57);
    color: #fff;
    text-transform: uppercase;
    height: 1rem;
    line-height: 1.6;
    width: 100%;

}
.header-container .menu{
} 
a{
    text-decoration: none;
    color: rgb(36, 44, 57);

}
.container{
    width: 90%;
    display: flex;
    margin:1rem ;
}
.container .portada{
    width: 60%;
}
.container .textoPortada{
    width: 30%;
    border: solid;
    display: grid;
}
.textoPortada h1{
    font-size: larger;
}
